@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: normal dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: radial-gradient(circle at 50% 20%, #111, #000);
  min-height: 100vh;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

header {
  background: linear-gradient(135deg, #1a237e, #0d47a1, #283593);
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}